/*  ========================
    Layout Stylesheet
    ========================
    Defining content layout styles
*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-content: center;
  padding: 0.75rem 2rem;
  background-color: var(--subtle-bg-light);
  border-bottom: 1px solid var(--subtle-light);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 0.7rem;
}

.logo__img {
  width: 30px;
}

.nav {
  display: none;
  position: absolute;
  width: 80%;
  top: 100%;
  left: 10%;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
}

.nav.active {
  display: flex;
  padding: 10px;
  max-height: 300px;
}

.nav__link {
  font-size: 0.9rem;
  font-family: var(--font-primary);
  font-weight: var(--weight-medium);
  color: black;
}

.nav__link.active {
  color: var(--color-primary);
}

.nav__link--highlight {
  background-color: var(--color-primary);
  color: #fff !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/*  ====================
    Main & Section 
    ====================
*/
main {
  margin-top: 3rem;
  overflow: hidden;
  /* padding: 0 2rem; */
}

/* Hero */
.hero {
  position: relative;
  height: 70vh;
  background-image: url("../images/abuja-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  display: flex;
  align-items: center;
}

.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero__text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 2rem;
  z-index: 10;
}

.hero__h1 {
  width: 80%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 900;
}

.hero__p {
  color: var(--subtle-light);
  font-size: 1rem;
}

.hero__actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}

.hero__cta {
  background-color: var(--background-light);
  color: #000;
  font-weight: var(--weight-semibold);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.hero__cta--primary {
  background-color: var(--color-primary);
  color: #fff;
}

/* Upcoming Events Section */
.section__h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 2rem;
}

.event {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.event__date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event__month {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 0.9rem;
}

.event__day {
  font-size: 3rem;
  font-weight: 900;
}

.event__year {
  color: var(--subtle-text-light);
  font-size: 0.8rem;
}

.event__details {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.event__title {
  font-size: 1.5rem;
  font-weight: 900;
}

.event__description {
  font-size: 1rem;
  color: var(--subtle-text-light);
}

.event__cta {
  display: flex;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.event__cta:hover {
  background-color: var(--background-light);
  color: #000;
}

/* Weather Section */
.section-weather {
  background-color: #fff;
}

.weather {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.weather__card {
  background-color: var(--subtle-bg-light);
  border-radius: 16px;
  padding: 16px 24px;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-between;
}

.weather__date__temp {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.weather__date__meta,
.weather__temp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weather__day,
.weather__temp__details {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.weather__date {
  color: var(--subtle-text-light);
  font-size: 1.2rem;
}

.weather__desc {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.weather__img {
  width: 60px;
  height: 60px;
}

.weather__desciption {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: right;
}

.weather__condition {
  font-size: 1.2rem;
  font-weight: var(--weight-bold);
}

/* Search Spotlight */
/* .section-spotlight {
  padding: 4rem 6rem;
} */

/* Search section */
/* .directory {
  padding: 2.5rem 0;
} */

.section__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.section__h1 {
  font-size: 2rem;
  font-weight: 900;
}

.section__header__text {
  font-size: 1rem;
}

.search-and-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  margin-top: 4rem;
}

.search {
  position: relative;
  flex: 1;
  display: flex;
  background-color: #fff;
  border: 1px solid var(--subtle-light);
  border-radius: 0.5rem;
}

.search__btn {
  position: absolute;
  left: 0;
  top: 13%;
  color: var(--subtle-text-light);
  padding: 0.5rem;
}

.search__icon {
  width: 20px;
  height: 20px;
}

.search__input {
  flex: 1;
  font-size: 1rem;
  font-weight: var(--weight-medium);
  padding: 1rem 1rem 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.search__input:focus {
  box-shadow: var(--color-primary) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.view {
  flex: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--background-light);
}

.view__label {
  font-weight: var(--weight-medium);
}

.view__actions {
  display: flex;
  gap: 2px;
  padding: 0.1rem;
  border: 1px solid var(--subtle-light);
  border-radius: 0.5rem;
  background-color: white;
  align-items: center;
}

.view__btn__img {
  width: 20px;
  height: 20px;
}

.view__btn {
  display: flex;
  padding: 0.5rem;
}

.view__btn.active {
  background-color: var(--subtle-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.filter {
  margin-top: 2rem;
}

.filter__h2 {
  font-size: 1.2rem;
}

.filter__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 1.2rem;
}

.filter__btn {
  font-size: 0.9rem;
  background-color: #fff;
  font-weight: var(--weight-medium);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--subtle-light);
}

.filter__btn.active {
  background-color: var(--color-primary);
  color: #fff;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  margin-top: 3rem;
  gap: 32px;
}

.results.list {
  grid-template-columns: 1fr;
}

.result__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  background-color: #fff;
  border: 2px solid var(--subtle-light);
  border-radius: 0.75rem;
}

.result__header {
  display: flex;
  align-items: start;
  gap: 16px;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.result__category {
  color: var(--color-primary);
  font-weight: var(--weight-bold);
  font-size: 0.7rem;
}

.result__title {
  font-size: 1.2rem;
  font-weight: var(--weight-bold);
}

.result__img {
  width: 50px;
  height: 50px;
}
.result__description {
  color: var(--subtle-text-light);
  padding: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  font-weight: var(--weight-medium);
  border-bottom: 1px solid var(--subtle-light);
}

.result__link__img {
  width: 20px;
}

.result__footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.result__links {
  display: flex;
  gap: 1rem;
}

.result__btn {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-weight: var(--weight-bold);
  cursor: pointer;
}

.result__btn:hover {
  text-decoration: underline;
}

footer {
  padding: 0.75rem 2rem;
  background-color: var(--subtle-light);
  font-size: 0.9rem;
}

.info-and-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.footer__links {
  display: flex;
  gap: 8px;
}

.nav_link--footer {
  font-weight: var(--weight-medium);
}

.last-modified {
  padding-top: 1.5rem;
  color: #000;
  font-weight: var(--weight-bold);
}
