/*  ========================
    Stylesheet for Responsive Design
    ========================
    Defining base styles and css variables
*/
@media (min-width: 320px) and (max-width: 640px) {
  main {
    margin-top: 3rem;
  }

  .hero__h1 {
    font-size: 1.8rem;
    font-weight: 900;
  }

  .hero__p {
    font-size: 1rem;
  }

  .hero__text {
    padding: 0.5rem 2rem;
  }

  .section__h2 {
    font-size: 2rem;
  }

  .results {
    grid-template-columns: 1fr;
  }

  .info-and-links {
    flex-direction: column;
  }

  /* ===== Events Section ===== */
  .event {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  /* ===== Weather Section ===== */
  .weather {
    grid-template-columns: 1fr;
  }

  .weather__card {
    flex-direction: column;
  }

  /* ===== Join Page, Section: Membership Section ===== */
  .section__body {
    grid-template-columns: 1fr;
  }

  .form-control--alt {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .membershiptiers {
    grid-template-columns: 1fr;
  }

  /* =========
     Discover Page
     ========= 
  */

  /* ===== Section: Stats Section ===== */
  .stats {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  /* ===== Section: About Section ===== */
  .about {
    padding: 0 3rem;
    grid-template-columns: 1fr;
  }

  /* ===== Section: Attractions Section ===== */
  .attractions {
    padding: 2.5rem 3rem;
  }

  .attractions__list {
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8";
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .attractions__list {
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8";
  }
}
@media (min-width: 1025px) {
  /* h1,
  p {
    line-height: 0;
    margin: 0;
  } */

  .modal__body {
    padding: 1rem;

    p {
      line-height: 1;
    }
  }

  .header,
  footer {
    padding: 1.5rem 6rem;
  }

  .nav {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    left: 0;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .nav__link {
    font-weight: var(--weight-semibold);
  }

  .menu-toggle {
    display: none;
  }

  .search-and-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    margin-top: 4rem;
  }

  main {
    margin-top: 8rem;
  }

  .section {
    padding: 4rem 6rem;
  }

  .section__h2 {
    font-size: 2.5rem;
  }

  .hero__h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .hero__p {
    font-size: 1.2rem;
  }

  .hero__text {
    padding: 2rem 6rem;
  }

  .section__h1 {
    font-size: 2.6rem;
    line-height: 1;
  }

  .section__header__text {
    line-height: 1;
  }

  .results {
    grid-template-columns: repeat(3, 1fr);
  }

  .info-and-links {
    flex-direction: row;
    align-items: center;
  }

  /* Events */
  .event {
    width: 60%;
    flex-direction: row;
    text-align: left;
  }

  /* Weather */
  .weather {
    grid-template-columns: repeat(3, 1fr);
  }

  .weather__card {
    flex-direction: row;
  }

  /* Join Page */
  .section__body {
    grid-template-columns: 1fr 1fr;
  }

  .form-control--alt {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .membershiptiers {
    grid-template-columns: 1fr 1fr;
  }

  /* =========
     Discover Page
     ========= 
  */
  /* ===== Section: Stats Section ===== */
  .stats {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
  /* ===== Section: About Section ===== */
  .about {
    padding: 0 6rem;
    grid-template-columns: 1fr 1fr;
  }

  /* ===== Section: Attractions Section ===== */
  .attractions {
    padding: 4rem 6rem;
  }

  .attractions__list {
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6" "card7 card8";
  }
}
