/*  ========================
    Stylesheet for Responsive Design
    ========================
    Defining base styles and css variables
*/
@media (min-width: 768px) {
  h1,
  p {
    line-height: 0;
    margin: 0;
  }

  .header,
  footer {
    padding: 1.5rem 6rem;
  }

  .nav {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    left: 0;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .nav__link {
    font-weight: var(--weight-semibold);
  }

  .menu-toggle {
    display: none;
  }

  .search-and-view {
    flex-direction: row;
    gap: 32px;
  }

  main {
    margin-top: 8rem;
  }

  .section {
    padding: 4rem 6rem;
  }

  .section__h2 {
    font-size: 2.5rem;
  }

  .hero__h1 {
    font-size: 2.5rem;
    line-height: 1;
  }
  .hero__p {
    font-size: 1.2rem;
  }
  .hero__text {
    padding: 2rem 6rem;
  }

  .section__h1 {
    font-size: 2.6rem;
    line-height: 1;
  }

  .search-and-view {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .section__header__text {
    line-height: 1;
  }

  .results {
    grid-template-columns: repeat(3, 1fr);
  }

  .info-and-links {
    flex-direction: row;
    align-items: center;
  }

  /* Events */
  .event {
    width: 60%;
    flex-direction: row;
    text-align: left;
    padding: 1rem 1.5rem;
  }

  /* Weather */
  .weather {
    grid-template-columns: repeat(3, 1fr);
  }

  .weather__card {
    flex-direction: row;
  }

  /* Join Page */
  .section__body {
    grid-template-columns: 1fr 1fr;
  }
  .form-control--alt {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
