/*  ========================
    Stylesheet for Responsive Design
    ========================
    Defining base styles and css variables
*/
@media (min-width: 768px) {
  h1,
  p {
    line-height: 0;
    margin: 0;
  }

  .header,
  footer {
    padding: 1.5rem 6rem;
  }

  .nav {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    left: 0;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .nav__link {
    font-weight: var(--weight-semibold);
  }

  .menu-toggle {
    display: none;
  }

  .search-and-view {
    flex-direction: row;
    gap: 32px;
  }

  main {
    margin-top: 8rem;
    /* padding: 0 6rem; */
  }

  .hero__h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .section__h1 {
    font-size: 2.6rem;
    line-height: 1;
  }

  .search-and-view {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .section__header__text {
    line-height: 1;
  }

  .results {
    grid-template-columns: repeat(3, 1fr);
  }

  .info-and-links {
    flex-direction: row;
    align-items: center;
  }
}
