/*  ========================
    Base Stylesheet
    ========================
    Defining base styles and css variables
*/

:root {
  /* Typography */
  --primary-font: Inter, sans-serif;

  /* Color */
  --color-primary: #1e293b;
  --color-background: #137fec;
  --color-background-light: rgb(19 127 236 / 10%);
  --color-background-muted: #f6f7f8;
  --color-background-dark: #e5e7eb;
  --color-text-foreground: #475569;
  --color-border: #e5e7eb;

  /* Border Radii */
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  /* Font Sizes */
  --text-sm: 0.875rem;
  --text-4xl: 2.25rem;

  /* Font Weights */
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}
