/*  ========================
    Base Stylesheet
    ========================
    Defining base styles and css variables
*/

:root {
  /* Typography */
  --primary-font: Inter, sans-serif;

  /* Color */
  --color-primary: #1e293b;
  --color-background: #137fec;
  --color-background-light: rgb(19 127 236 / 10%);
  --color-background-muted: #f6f7f8;
  --color-background-dark: #e5e7eb;
  --color-text-foreground: #475569;
  --color-border: #e5e7eb;

  /* Border Radii */
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  /* Font Sizes */
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;

  /* Font Weights */
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--primary-font);
  transition: all 0.4s ease;
}

.button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: inherit;
}

.button-primary {
  background-color: var(--color-background);
  color: #fff;
  font-size: var(--text-sm);
  font-weight: var(--weight-bold);
  padding: 1rem 1rem;
  border-radius: var(--radius-lg);
}
