/*  ========================
    Layout Stylesheet
    ========================
    Defining content layout styles
*/
body {
  font-family: var(--primary-font);
  background-color: var(--color-background-muted);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 119px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* 
  =====================
  Main & Section Styles
  ====================
*/

/* Hero */
.section {
  padding: 1.5rem;
}

.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 480px;
  margin: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero__content {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 0 0.3rem;
  z-index: 10;
}

.hero__title {
  font-weight: 900;
  font-size: var(--text-4xl);
}

.hero__description {
  margin: 0 1rem 1rem;
}

.hero__cta {
  background-color: #fff;
  color: #000;
}

/* Search & Categories Section */

.section-search {
  position: relative;
  background-color: #fff;
  padding: 0.4rem 0.4rem 2rem;
  border-radius: var(--radius-xl);
  margin: -4rem 1.5rem 1.5rem 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 20;
}

.form-control {
  display: flex;
  background-color: var(--color-background-muted);
  padding: 0 0.5rem;
  border-radius: 12px;
  overflow: hidden;
}

.form__icon {
  float: left;
  width: 20px;
}

.form__input {
  flex: 1;
  padding: 1rem 1rem;
  background-color: transparent;
  border: none;
}

.form__input:focus {
  outline: none;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  row-gap: 0.6rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.category {
  /* flex: 1 1 calc(25% - 1rem); */
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--color-background-muted);
  border-radius: 32px;
  color: var(--color-text-foreground);
  font-weight: var(--weight-medium);
  padding: 0.6rem 0.8rem;
}

.category.active {
  background-color: var(--color-background-light);
}

.category__image {
  width: 20px;
}

/* How it works section */

.section-howitworks {
  text-align: center;
  padding: 4rem 1.5rem;
}

.section__heading {
  font-size: var(--text-3xl);
  color: var(--color-primary);
  margin: 0;
}

.section__subtext {
  color: var(--color-text-foreground);
}

.steps {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.step__icon-container {
  background-color: var(--color-background-light);
  border-radius: 100%;
  padding: 1.2rem;
}

.step__icon {
  width: 30px;
}

.step__title {
  font-weight: var(--weight-bold);
  font-size: var(--text-lg);
  margin: 0;
}

.step__description {
  color: var(--color-text-foreground);
  text-align: center;
  margin: 0;
}

/* Section Why choose */
.section-whychoose {
  background-color: #fff;
  text-align: center;
}
