/*  ========================
    Stylesheet for Responsive Design
    ========================
    Defining base styles and css variables
*/

@media (min-width: 320px) and (max-width: 640px) {
  header {
    padding: 1.5rem;
  }

  .logo__image {
    width: 119px;
  }

  .nav {
    justify-content: flex-end;
  }

  .nav__links {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  /* 
  =====================
  Main & Section Styles
  ====================
  */

  /* How it works section */
  .steps {
    flex-direction: column;
  }

  .choices {
    flex-direction: column;
  }

  /* 
  =====================
  Footer Styles
  ====================
  */
  .footer__sections {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  header {
    padding: 1.5rem;
  }

  .nav__links {
    display: none;
  }

  header {
    padding: 1.5rem;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 1rem 0;
    margin: 1rem 6rem;
  }

  .nav__links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
  }

  .menu-toggle {
    display: none;
  }

  .section {
    padding: 4rem 6rem;
  }

  .hero {
    margin: 2rem 6rem 1rem;
  }

  .hero__content {
    margin: -6rem auto 0 auto;
  }

  .hero__title {
    font-size: 3.5rem;
    width: 60%;
    line-height: 0.9;
    margin: 0 auto 1rem;
  }

  .hero__description {
    font-size: var(--text-lg);
  }

  .choices {
    flex-direction: row;
  }

  /* Search & Categories Section */
  .section-search {
    padding: 1.4rem 1.4rem 2rem;
    margin: -4rem 6.5rem 1.5rem;
  }

  .categories {
    gap: 2rem;
    row-gap: 0.6rem;
  }

  /* 
  =====================
  Footer Styles
  ====================
  */
  footer {
    padding: 4rem 6rem;
  }

  .footer__sections {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
  }
}
