/*  ========================
    Stylesheet for Responsive Design
    ========================
    Defining base styles and css variables
*/

@media (min-width: 320px) and (max-width: 640px) {
  header {
    padding: 1.5rem;
  }

  .logo__image {
    width: 119px;
  }

  .nav {
    justify-content: flex-end;
  }

  .nav__links {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  /* 
  =====================
  Main & Section Styles
  ====================
  */

  /* How it works section */
  .steps {
    flex-direction: column;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  header {
    padding: 1.5rem;
  }

  .nav__links {
    display: none;
  }

  header {
    padding: 1.5rem;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 2rem 6rem;
  }

  .nav__links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
  }

  .menu-toggle {
    display: none;
  }

  .section {
    padding: 0.1rem 6rem;
  }
}
